<% if (locals.errors) { %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-danger"><%= error.msg %></div>
    <% }) %>
<% } %>
<%= messages()%>
<%- include('includes/header') %>
<div class="container">
      <form method="post" action="/users/addEvent" class="form-signin">
        <h2 class="form-signin-heading">Add Event</h2>
        <label>Event Name</label>
        <input type="text" name="name" class="form-control" value="<%= (!!locals.name)?name:'' %>" required autofocus>
        <br>
        <label>Event Type</label>
        <input type="text" name="type" class="form-control" value="<%= (!!locals.type)?type:'' %>" required autofocus>
        <br>
        <lable>Region</lable><br>
            <select class="form-control" onchange="set_country(this,country,state,false)" name="region">
            <option value="" selected="selected">PLEASE SELECT A REGION</option>
            <script type="text/javascript">
                setRegions(this);
            </script>
        </select>
        <br>
        <lable>Country</lable><br>
        <select class="form-control" name="country" disabled="disabled" onchange="set_city_state(this,state,false)">
            <option value="" selected="selected">PLEASE SELECT A COUNTRY</option>
        </select>
        <br>
        <lable>State or Province</lable><br>
    <select class="form-control" name="state" disabled="disabled" onchange="print_city_state(country,this)">
        <option value="" selected="selected">PLEASE SELECT A STATE OR PROVINCE</option>
    </select>
        <br>
        <label>City</label>
        <input type="text" name="city" class="form-control" value="<%= (!!locals.city)?city:'' %>" required autofocus>
        <br>
        <label>Organizing Society</label>
        <input type="text" name="organization" class="form-control" value="<%= (!!locals.organization)?organization:'' %>">
        <br>
        <label>Contact Person for Event</label>
        <input type="text" name="contact" class="form-control" value="<%= (!!locals.contact)?contact:'' %>"  required autofocus>
        <br>
        <label>Event Enquiries Email Address</label>
        <input type="text" name="email" class="form-control" value="<%= (!!locals.email)?email:'' %>">
        <br>
        <label>Website Address</label>
        <input type="url" name="website" class="form-control" value="<%= (!!locals.website)?website:'' %>"  required autofocus>
        <br>
        <label>Event Start Date</label>
        <input type="date" name="startDate" class="form-control" value="<%= (!!locals.startDate)?startDate:'' %>"  required autofocus>
        <br>
        <label>Last Day of Event</label>
        <input type="date" name="endDate" class="form-control" value="<%= (!!locals.endDate)?endDate:'' %>"  required autofocus>
        <br>
        <label>Abstracts/Proposals Deadline</label>
        <input type="date" name="deadline" class="form-control" value="<%= (!!locals.deadline)?deadline:'' %>">
        <br>
        <label>Description</label>
        <input type="text" name="description" class="form-control" value="<%= (!!locals.description)?description:'' %>"  required autofocus>
        <br>
        <label>Event Keywords</label>
        <input type="text" name="keywords" class="form-control" value="<%= (!!locals.keywords)?keywords:'' %>"  required autofocus>
        <br>   



        <!-- <p>Have Account? <a href="/users/login">Login</a></p> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->


<%- include('includes/footer') %>