<% if (locals.errors) { %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-danger"><%= error.msg %></div>
    <% }) %>
<% } %>
<%= messages()%>
<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="/search">Search</a></li>
          <li><a href="/users/addEvent">Add Event</a></li>
          <li class="active"><a href="/users/addSub">Subscribe</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if(user){ %>
                <% if(user.name == 'admin'){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage categories</a><br>
                        <a href="/manage/users">Manage users</a><br>
                      </div>
                  </li>
                <% } %>
              <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="/users/myEvent">My Events</a><br>
                    <a href="/users/mySub">My Subscriptions</a><br>
                    <a href="#">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
              <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
<div class="container">
    <h1>id: <%=event[0]._id%></h1>
      <form method="post" action="/users/editEvent" class="form-signin">
        <h2 class="form-signin-heading">Edit Event</h2>
        <!-- <label>ID</label> -->
        <input class="hid" type="text" name="id" class="form-control" value="<%= (!!event[0]._id)?event[0]._id:'' %>">
        <label>Event Name</label>
        <input type="text" name="name" class="form-control" value="<%= (!!event[0].name)?event[0].name:'' %>">
        <br>
        <lable>Event Type</lable><br>
        <select class="form-control" name="type">
            <option value="">-----ALL-----</option>
            <% for (var i=0; i<types.length; i++){ 
                    console.log(types.length); %>
                  <%  if(event[0].type == types[i].type){ %>
                      <option value="<%=types[i].type%>" selected="selected"><%=types[i].type%></option>
                  <%  }
                    else{ %>
                      <option value="<%=types[i].type%>"><%=types[i].type%></option>
                  <%  } %>
            <% } %>
        </select>
        <br>
        <lable>Region</lable><br>
        <select class="form-control" onchange="set_country(this,country,state, true)" name="region" >
            <option value="">-----ALL-----</option>
            <option value="<%=event[0].region%>" selected="selected"><%=event[0].region%></option>
            <script type="text/javascript">
                setRegions(this);
            </script>
        </select>
        <br>
        <br>
        <lable>Country</lable><br>
        <select class="form-control" name="country" onchange="set_city_state(this,state, true)">
            <option value="">-----ALL-----</option>
            <option value="<%=event[0].country%>" selected="selected"><%=event[0].country%></option>
        </select>
        <br>
        <br>
        <lable>State/Province</lable><br>
        <select class="form-control" name="state">
            <option value="">-----ALL-----</option>
            <option value="<%=event[0].state%>" selected="selected"><%=event[0].state%></option>
        </select>
        <br>
        <br>
        <label>City</label>
        <input type="text" name="city" class="form-control" value="<%= (!!event[0].city)?event[0].city:'' %>">
        <br>
        <label>Organizing Society</label>
        <input type="text" name="organization" class="form-control" value="<%= (!!event[0].organization)?event[0].organization:'' %>">
        <br>
        <label>Contact Person for Event</label>
        <input type="text" name="contact" class="form-control" value="<%= (!!event[0].contact)?event[0].contact:'' %>"  required autofocus>
        <br>
        <label>Event Enquiries Email Address</label>
        <input type="text" name="email" class="form-control" value="<%= (!!event[0].email)?event[0].email:'' %>">
        <br>
        <label>Website Address</label>
        <input type="url" name="website" class="form-control" value="<%= (!!event[0].website)?event[0].website:'' %>"  required autofocus>
        <br>        
        <label>Event Start Date</label>
        <input type="date" name="startDate" class="form-control" value="<%= (!!event[0].startDate)?event[0].startDate:'' %>">
        <br>
        <label>Last Day of Event</label>
        <input type="date" name="endDate" class="form-control" value="<%= (!!event[0].endDate)?event[0].endDate:'' %>">
        <br>
        <label>Abstracts/Proposals Deadline</label>
        <input type="date" name="deadline" class="form-control" value="<%= (!!event[0].deadline)?event[0].deadline:'' %>">
        <br>
        <label>Description</label>
        <input type="text" name="description" class="form-control" value="<%= (!!event[0].description)?event[0].description:'' %>"  required autofocus>
        <br>
        <label>Event Keywords</label>
        <input type="text" name="keywords" class="form-control" value="<%= (!!event[0].keywords)?event[0].keywords:'' %>">
        <p>Please use "," to separate keywords without space</p>
        <br> 



        <!-- <p>Have Account? <a href="/users/login">Login</a></p> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>

    </div> <!-- /container -->


<%- include('includes/footer') %>