<% if (locals.errors) { %>
    <% errors.forEach(function(error){ %>
        <div class="alert alert-danger"><%= error.msg %></div>
    <% }) %>
<% } %>
<%= messages()%>
<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="/search">Search</a></li>
          <li><a href="/users/addEvent">Add Event</a></li>
          <li class="active"><a href="/users/addSub">Subscribe</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if(user){ %>
                <% if(user.priority == 2){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage Categories</a><br>
                        <a href="/manage/users">Manage Users</a><br>
                      </div>
                  </li>
                <% }else if(user.priority == 1){%>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                      </div>
                  </li>
                <% } %> 
              <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="/users/myEvent">My Events</a><br>
                    <a href="/users/mySub">My Subscriptions</a><br>
                    <a href="/users/myProfile">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
              <% } %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
<div class="container">
      <form method="post" action="/users/editSub" class="form-signin">
        <h2 class="form-signin-heading">Edit Subscription</h2>
        <!-- <label>ID</label> -->
        <input class="hid" type="text" name="id" class="form-control" value="<%= (!!results._id)?results._id:'' %>">
        <label>Event Name</label>
        <input type="text" name="name" class="form-control" value="<%= (!!results.name)?results.name:'' %>">
        <br>
        <lable>Event Type</lable><br>
        <select class="form-control" name="type">
            <option value="">-----ALL-----</option>
            <% types.forEach(function(onetype) { %>
              <%  if(results.type == onetype.type){ %>
                      <option value="<%=onetype.type%>" selected="selected"><%=onetype.type%></option>
                  <%  }
                    else{ %>
                      <option value="<%=onetype.type%>"><%=onetype.type%></option>
                  <%  } %>                  
            <% }) %>
        </select>
        <br>
        <lable>Region</lable><br>
        <select class="form-control" onchange="set_country(this,country,state, true)" name="region" >
            <option value="">-----ALL-----</option>
            <option value="<%=results.region%>" selected="selected"><%=results.region%></option>
            <script type="text/javascript">
                setRegions(this);
            </script>
        </select>
        <br>
        <br>
        <lable>Country</lable><br>
        <select class="form-control" name="country" onchange="set_city_state(this,state, true)">
            <option value="">-----ALL-----</option>
            <option value="<%=results.country%>" selected="selected"><%=results.country%></option>
        </select>
        <br>
        <br>
        <lable>State/Province</lable><br>
        <select class="form-control" name="state">
            <option value="">-----ALL-----</option>
            <option value="<%=results.state%>" selected="selected"><%=results.state%></option>
        </select>
        <br>
        <br>
        <label>City</label>
        <input type="text" name="city" class="form-control" value="<%= (!!results.city)?results.city:'' %>">
        <br>
        <label>Organizing Society</label>
        <input type="text" name="organization" class="form-control" value="<%= (!!results.organization)?results.organization:'' %>">
        <br>
        <label>Start Date</label>
        <input type="date" name="startDate" class="form-control" value="<%= (!!results.startDate)?results.startDate:'' %>">
        <br>
        <label>End Date</label>
        <input type="date" name="endDate" class="form-control" value="<%= (!!results.endDate)?results.endDate:'' %>">
        <br>
        <label>Event Keywords</label>
        <input type="text" name="keywords" class="form-control" value="<%= (!!results.keywords)?results.keywords:'' %>">
        <p>Please use "," to separate keywords without space</p>
        <br> 



        <!-- <p>Have Account? <a href="/users/login">Login</a></p> -->
        <button class="btn btn-lg btn-primary btn-block" type="submit">Subscribe</button>
      </form>

    </div> <!-- /container -->


<%- include('includes/footer') %>