<%- include('includes/header') %>
<%- messages() %>
<div>
		<ul class="events">
		  <% console.log(results.length);

		  for(var i=0; i<results.length; i++) {%>
		      <li class="events"><span><%= results[i].name %></span></li>
		      <li class="events"><span><%= results[i].type %></span></li>
		      <li class="events"><span><%= results[i].city %></span></li>
		      <li class="events"><span><%= results[i].state %></span></li>
		      <li class="events"><span><%= results[i].country %></span></li>
		      <li class="events"><span><%= results[i].organization %></span></li>
		      <li class="events"><span><%= results[i].contact %></span></li>
		      <li class="events"><span><%= results[i].email %></span></li>
		      <li class="events"><span><%= results[i].website %></span></li>
		      <li class="events"><span><%= results[i].startDate %></span></li>
		      <li class="events"><span><%= results[i].endDate %></span></li>
		      <li class="events"><span><%= results[i].description %></span></li>
		      <li class="events"><span><%= results[i].keywords %></span></li>
		      <li class="events"><span><%= results[i].approved %></span></li>
		      <li class="events"><span><%= results[i].userName %></span></li>
		      <li class="events"><span><%= results[i].userEmail %></span></li>
		    </li>
		  <% } %>
		</ul>
    
</div> 
      
        
<%- include('includes/footer') %>