<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/search">Search</a></li>
              <li><a href="/users/addEvent">Add Event</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.name == 'admin'){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage categories</a><br>
                        <a href="/manage/users">Manage users</a><br>
                      </div>
                  </li>
                <% } %>
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="#">My Events</a><br>
                    <a href="/users/mySub">My Subscribes</a><br>
                    <a href="#">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>

<h2>Searching Results: <%=totallength%></h2>
<p>Click on "[+] More info" to show more details.</p>
<p>Click on "[-] Less info" to show less details.</p>
<p>----------------------------------------------------------------</p>

<%  for(var i=0; i< results.length; i++) {%>
	<p class="adv-toggle-buttons">
		<span><%=results[i].startDate%>~<%=results[i].endDate%>, <%=results[i].name%>, <%=results[i].city%>,<%=results[i].state%>,<%=results[i].country%>. </span><a href="#">[+] More info</a><a href="#" style="display: none;">[-] Less info</a>
	</p>
	<div class="adv-unit-options" style="display: none;">
		<ul>
		    <li><a href=<%=results[i].website%>><strong>Website:</strong> <%=results[i].website%></a></li>
		    <li><strong>Type:</strong> <%=results[i].type%></a></li>
		    <li><strong>Organization:</strong> <%=results[i].organization%></li>
		    <li><strong>Contact:</strong> <%=results[i].contact%></li>
		    <li><strong>Email:</strong>  <%=results[i].email%></li>
		    <li><strong>Description:</strong> <%=results[i].description%></li>
		    <li><strong>Abstracts or Proposals Deadline:</strong> <%=results[i].deadline%></li>
		    <li><strong>Keywords:</strong> <%=results[i].keywords%></li>
		</ul>
	</div>
  <br>
<% } %>
  <ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <% if(totalPage == 0){ %>
    <li class="active"><a href="?type=<%=type%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&startDate=<%=startDate%>
        &&endDate=<%=endDate%>
        &&currentPage=1">1</a></li>
  <% } %>
  <% for(var j = 1; j <= totalPage; j ++){ %>
    <% if(j == currentPage){  %>
        <li class="active"><a href="?type=<%=type%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&startDate=<%=startDate%>
        &&endDate=<%=endDate%>
        &&currentPage=<%=j%>"><%=j%></a></li>
    <%  }
      else{ %>
        <li><a href="?type=<%=type%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&startDate=<%=startDate%>
        &&endDate=<%=endDate%>
        &&currentPage=<%=j%>"><%=j%></a></li>
    <%  } 
  } %>
  <li><a href="#">&laquo;</a></li> 
  </ul>
	
<script>
	$('.adv-toggle-buttons a').each(function() { 
        $(this).on('click', function(){
            $(this).parent().next().slideToggle();
            $(this).parent().find('a').each(function(){
                $(this).toggle();
                
            });
        });   
    });
</script>        
<%- include('includes/footer') %>