<%- include('includes/header') %>
<%- messages() %>

<h2>Searching Results: <%=results.length%></h2>
<p>Click on "[+] More info" to show more details.</p>
<p>Click on "[-] Less info" to show less details.</p>
<p>----------------------------------------------------------------</p>
<%  for(var i=0; i<results.length; i++) {%>
	<p class="adv-toggle-buttons">
		<span><%=results[i].startDate%>~<%=results[i].endDate%>, <%=results[i].name%>, <%=results[i].city%>,<%=results[i].state%>,<%=results[i].country%>. </span><a href="#">[+] More info</a><a href="#" style="display: none;">[-] Less info</a>
	</p>
	<div class="adv-unit-options" style="display: none;">
		<ul>
		    <li><a href=<%=results[i].website%>><strong>Website:</strong> <%=results[i].website%></a></li>
		    <li><strong>Type:</strong> <%=results[i].type%></a></li>
		    <li><strong>Organization:</strong> <%=results[i].organization%></li>
		    <li><strong>Contact:</strong> <%=results[i].contact%></li>
		    <li><strong>Email:</strong>  <%=results[i].email%></li>
		    <li><strong>Description:</strong> <%=results[i].description%></li>
		    <li><strong>Abstracts or Proposals Deadline:</strong> <%=results[i].deadline%></li>
		    <li><strong>Keywords:</strong> <%=results[i].keywords%></li>
		</ul>
	</div>
	<br>
<% } %>
<script>
	$('.adv-toggle-buttons a').each(function() { 
        $(this).on('click', function(){
            $(this).parent().next().slideToggle();
            $(this).parent().find('a').each(function(){
                $(this).toggle();
                
            });
        });   
    });
</script>

<!-- <%  for(var i=0; i<results.length; i++) {%>
	<span><%=results[i].startDate%>~<%=results[i].endDate%>, <%=results[i].name%>, <%=results[i].city%>,<%=results[i].state%>,<%=results[i].country%></span><button class="btt">[+] More info</button>
	<ul class='details'>
	    <li><a href=<%=results[i].website%>><strong>Website:</strong> <%=results[i].website%></a></li>
	    <li><strong>Organization:</strong> <%=results[i].organization%></li>
	    <li><strong>Contact:</strong> <%=results[i].contact%></li>
	    <li><strong>Email:</strong>  <%=results[i].email%></li>
	    <li><strong>Description:</strong> <%=results[i].description%></li>
	</ul>
	<br>
<% } %> -->

<!-- <script>
	$(document).ready(function(){
		$('.details').each(function(idx) {
		    $(this).attr('id', 'did-' + idx);
		});
		$('.btt').each(function(idx) {
		    $(this).attr('id', 'bid-' + idx);
		});
		$("button[id^='bid']").click(function(){
			$("ul[id^='did']").toggle();
		});
	});
</script> -->
<!-- <p>Click on the content to see more details.</p>
<%  for(var i=0; i<results.length; i++) {%>
<div class="dropdown">
	<span>
		<%=results[i].startDate%>~<%=results[i].endDate%>, <%=results[i].name%>, <%=results[i].city%>,<%=results[i].state%>,<%=results[i].country%>
	</span>
	<div class="dropdown-content">
		<ul>
		    <li><a href=<%=results[i].website%>><strong>Website:</strong> <%=results[i].website%></a></li>
		    <li><strong>Organization:</strong> <%=results[i].organization%></li>
		    <li><strong>Contact:</strong> <%=results[i].contact%></li>
		    <li><strong>Email:</strong>  <%=results[i].email%></li>
		    <li><strong>Description:</strong> <%=results[i].description%></li>
		</ul>
	</div>
</div>
<% } %> -->

      
        
<%- include('includes/footer') %>