<%- include('includes/header') %>
<%- messages() %>
<div>
		<ul class="events">
		  <% 
		  for(index in events) {%>
		    <li class="events">
		      <span><%= results[i].name %></span>
		      <span><%= results[i].type %></span>
		      <span><%= results[i].city %></span>
		      <span><%= results[i].state %></span>
		      <span><%= results[i].country %></span>
		      <span><%= results[i].organization %></span>
		      <span><%= results[i].contact %></span>
		      <span><%= results[i].email %></span>
		      <span><%= results[i].website %></span>
		      <span><%= results[i].startDate %></span>
		      <span><%= results[i].endDate %></span>
		      <span><%= results[i].description %></span>
		      <span><%= results[i].keywords %></span>
		      <span><%= results[i].approved %></span>
		      <span><%= results[i].userName %></span>
		      <span><%= results[i].userEmail %></span>
		    </li>
		  <% } %>
		</ul>
    
</div> 
    	<script>
			//document.getElementById("demo").innerHTML = events.name;

		</script>
    
      
        
<%- include('includes/footer') %>