<%- include('includes/header') %>
<%- messages() %>

<div class="container reg-page">
<form method = "post" action="/events" class="form-signin">
    <lable>Type</lable><br>
    <select class="form-control" name="type">
        <option value="" selected="selected">-----ALL-----</option>
        <% for (var i=0; i<results.length; i++){ %>
        <option value= <%=results[i].type%> ><%=results[i].type%></option>
        <% } %>
    </select>
    <br>
    <br>
    <br>
    <lable>Keywords</lable><br>
    <input type="text" name="keywords" class="form-control" value="<%= (!!locals.keywords)?keywords:'' %>">Please use "," to separate keywords without space
    <br>
    <br>
    <br>
    <label>Event Start Date</label><br>
    <input type="date" name="startDate" class="form-control" value="<%= (!!locals.startDate)?startDate:'' %>">
    <br>
    <br>
    <br>
    <label>Last Day of Event</label><br>
    <input type="date" name="endDate" class="form-control" value="<%= (!!locals.endDate)?endDate:'' %>">
    <br>
    <br>
    <br>
    <lable>Region</lable><br>
    <select class="form-control" onchange="set_country(this,country,state, true)" name="region">
        <option value="" selected="selected">ALL</option>
        <script type="text/javascript">
            setRegions(this);
        </script>
    </select>
    <br>
    <br>
    <br>
    <lable>Country</lable><br>
    <select class="form-control" name="country" disabled="disabled" onchange="set_city_state(this,state, true)">
        <option value="" selected="selected">ALL</option>
    </select>
    <br>
    <br>
    <br>
    <lable>State/Province</lable><br>
    <select class="form-control" name="state" disabled="disabled" onchange="print_city_state(country,this)">
        <option value="" selected="selected">ALL</option>
    </select>
    <br>
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
</form>
<div id="txtregion"></div>
<div id="txtplacename"></div>
</div>