<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/search">Search</a></li>
              <li><a href="/users/addJob">Add Job</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.priority == 2){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/jobs">Manage Jobs</a><br>
                        <a href="/manage/categories">Manage Categories</a><br>
                        <a href="/manage/users">Manage Users</a><br>
                      </div>
                  </li>
                <% }else if(user.priority == 1){%>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/jobs">Manage Jobs</a><br>
                      </div>
                  </li>
                <% } %> 
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="/users/myJob">My Jobs</a><br>
                    <a href="/users/mySub">My Subscriptions</a><br>
                    <a href="/users/myProfile">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>
<div class="container">
<h2>Searching Results: <%=totallength%></h2>
<p>Click on "[+] More info" to show more details.</p>
<p>Click on "[-] Less info" to show less details.</p>
<p>----------------------------------------------------------------</p>

<% results.forEach(function(result){ %>
  <p class="adv-toggle-buttons">
    <span><%=result.name%>, <%=result.city%>,<%=result.state%>,<%=result.country%>,<%=result.region%>. </span><a href="#">[+] More info</a><a href="#" style="display: none;">[-] Less info</a>
  </p>
  <div class="adv-unit-options" style="display: none;">
    <ul>
        <li><a href=<%=result.website%>><strong>Website:</strong> <%=result.website%></a></li>
        <li><strong>Position Type:</strong> <%=result.positionType%></li>
        <li><strong>Employment Type:</strong> <%=result.employmentType%></li>
        <li><strong>Field:</strong> <%=result.field%></li>
        <li><strong>Institution:</strong> <%=result.institution%></li>
        <li><strong>Contact:</strong> <%=result.contact%></li>
        <li><strong>Email:</strong>  <%=result.email%></li>
        <li><strong>Application Deadline:</strong> <%=result.deadline%></li>
        <li><strong>Salary:</strong> <%=result.salary%></li>
        <li><strong>Description:</strong> <%=result.description%></li>
        <li><strong>Keywords:</strong> <%=result.keywords%></li>
    </ul>
  </div>
  <br>
<% }) %>
  <ul class="pagination">
  <li><a href="?positionType=<%=positionType%>
        &&employmentType=<%=employmentType%>
        &&field=<%=field%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&deadline=<%=deadline%>
        &&currentPage=1">&laquo;</a></li>
  <% if(totalPage == 0){ %>
    <li class="active"><a href="?positionType=<%=positionType%>
        &&employmentType=<%=employmentType%>
        &&field=<%=field%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&deadline=<%=deadline%>
        &&currentPage=1">1</a></li>
  <% } %>
  <% for(var j = 1; j <= totalPage; j ++){ %>
    <% if(j == currentPage){  %>
        <li class="active">
    <%  }
      else{ %>
        <li>
    <%  } %>
        <a href="?positionType=<%=positionType%>
        &&employmentType=<%=employmentType%>
        &&field=<%=field%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&deadline=<%=deadline%>
        &&currentPage=1"><%=j%></a></li>     
  <% } %>
  <li><a href="?positionType=<%=positionType%>
        &&employmentType=<%=employmentType%>
        &&field=<%=field%>
        &&keywords=<%=keywords%>
        &&country=<%=country%>
        &&state=<%=state%>
        &&deadline=<%=deadline%>
        &&currentPage=1">&raquo;</a></li> 
  </ul>
</div>
	
<script>
	$('.adv-toggle-buttons a').each(function() { 
        $(this).on('click', function(){
            $(this).parent().next().slideToggle();
            $(this).parent().find('a').each(function(){
                $(this).toggle();
                
            });
        });   
  });
</script>        
<%- include('includes/footer') %>