<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/search">Search</a></li>
              <li><a href="/users/addEvent">Add Event</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.name == 'admin'){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage categories</a><br>
                        <a href="/manage/users">Manage users</a><br>
                      </div>
                  </li>
                <% } %>
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="#">My Events</a><br>
                    <a href="/users/mySub">My Subscribes</a><br>
                    <a href="#">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>

<h2 id="numOfType">Manage Categories: <%=results.length%></h2>
<p>----------------------------------------------------------------</p>
<div class="panel panel-default">
  <div class="panel-heading">Categories</div>  
    <table class="table table-striped table-bordered"  border="1px" cellspacing="0">
    <thead>
      <tr>
        <th>No.</th>
        <th>Type</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
    <!-- <%  for(var i=0; i<results.length; i++) {%>
    <tr>
      <td><%=i+1%></td>
      <td id="type"><span><%=results[i].type%></span></td>
      <td>
        <button class="add btn btn-success">Add</button>
        <button class="edit btn btn-warning">Edit</button>
        <button class="del btn btn-danger">Delete</button>
      </td>
    </tr>
    <% } %> -->
    <% var index = 1; results.forEach(function(rs) {%>
    <tr>      
      <td><%=index++%></td>      
      <td id="id" class="hidID"><%=rs._id%></td>
      <td id="type"><%=rs.type%></td>
      <td>
        <button class="add btn btn-success">Add</button>
        <a id="editurl"><button class="edit btn btn-warning">Edit</button></a>
        <a href="/manage/categories/delete?_id=<%=rs._id%>"><button class="delete btn btn-danger">Delete</button></a>
      </td>
    </tr>
    <% }) %>
    <tr class="hid">
        <td></td>
        <td><input type="text"/></td>
        <td>
          <button class="add btn btn-success">Add</button>
          <a id="addurl"><button class="addsave btn btn-warning">Save</button></a>
          <button class="delete btn btn-danger">Delete</button>
        </td>
    </tr>
    </tbody>
    </table>
</div>
        
<%- include('includes/footer') %>