<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/search">Search</a></li>
              <li><a href="/users/addEvent">Add Event</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.name == 'admin'){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage categories</a><br>
                        <a href="/manage/users">Manage users</a><br>
                      </div>
                  </li>
                <% } %>
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="#">My Events</a><br>
                    <a href="#">My Subscribes</a><br>
                    <a href="#">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>

<h2>Manage Categories: <%=results.length%></h2>
<p>----------------------------------------------------------------</p>
<div class="panel panel-default">
  <div class="panel-heading">Categories</div>  
    <table class="table table-striped table-bordered" style="width:100%">
    <%  for(var i=0; i<results.length; i++) {%>
    <tr>
      <th><%=results[i].type%></th>
      <th><a href="">Edit</a></th> 
      <th>Delete</th>
    </tr>
    <% } %>
    </table>
</div>

<script>
	$('.adv-toggle-buttons a').each(function() { 
        $(this).on('click', function(){
            $(this).parent().next().slideToggle();
            $(this).parent().find('a').each(function(){
                $(this).toggle();
                
            });
        });   
    });
</script>        
<%- include('includes/footer') %>