<%- include('includes/header') %>

<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/search">Search</a></li>
              <li><a href="/users/addEvent">Add Event</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.name == 'admin'){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage categories</a><br>
                        <a href="/manage/users">Manage users</a><br>
                      </div>
                  </li>
                <% } %>
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="/users/myEvent">My Events</a><br>
                    <a href="/users/mySub">My Subscriptions</a><br>
                    <a href="#">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>

<%  for(var i=0; i<results.length; i++) {%>

  <div class="container" role="main">
    <div class="well">
      <h3>Event <%i%></h3>
      <li><strong>ID:</strong> <%=results[i]._id%></a></li>      
      <li><strong>Name:</strong> <%=results[i].name%></a></li>
      <li><strong>Type:</strong> <%=results[i].type%></a></li>
      <li><strong>Region:</strong> <%=results[i].region%></a></li>
      <li><strong>Country:</strong> <%=results[i].country%></a></li>
      <li><strong>State:</strong> <%=results[i].state%></a></li>
      <li><strong>City:</strong> <%=results[i].city%></a></li>
      <li><strong>Organization:</strong> <%=results[i].organization%></li>
      <li><strong>Date:</strong> <%=results[i].startDate%>~<%=results[i].endDate%></li>
      <li><strong>Contact:</strong> <%=results[i].contact%></li>
      <li><strong>Email:</strong>  <%=results[i].email%></li>
      <li><strong>Description:</strong> <%=results[i].description%></li>
      <li><strong>Abstracts or Proposals Deadline:</strong> <%=results[i].deadline%></li>
      <li><strong>Keywords:</strong> <%=results[i].keywords%></li>
      <a href="#>"><button type="button" class="btn btn-warning" >Edit</button></a>
      <a href="#>"><button type="button" class="btn btn-danger">Delete</button></a>
    </div>
  </div>
  <br>
<% } %>



<script>
  $('.adv-toggle-buttons a').each(function() { 
        $(this).on('click', function(){
            $(this).parent().next().slideToggle();
            $(this).parent().find('a').each(function(){
                $(this).toggle();
                
            });
        });   
    });
</script>        
<%- include('includes/footer') %>