<%- include('includes/header') %>

<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="/search">Search</a></li>
              <li><a href="/users/addEvent">Add Event</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.priority == 2){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                        <a href="/manage/categories">Manage categories</a><br>
                        <a href="/manage/users">Manage users</a><br>
                      </div>
                  </li>
                <% }else if(user.priority == 1){%>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/events">Manage Events</a><br>
                      </div>
                  </li>
                <% } %> 
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="/users/myEvent">My Events</a><br>
                    <a href="/users/mySub">My Subscriptions</a><br>
                    <a href="/users/myProfile">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>

<h2>My Events: </h2>
<p>"To Be Approved" are your events waiting to be approved by administration.</p>
<p>"Approved" are your events already approved by administration.</p>
<p>"Ask for revision" are your events asked for your revision.</p>
<p>----------------------------------------------------------------</p>
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#to_be_approved">To Be Approved</a></li>
  <li><a data-toggle="tab" href="#approved">Approved</a></li>
  <li><a data-toggle="tab" href="#ask_for_revision">Ask for revision</a></li>
</ul>
<div class="tab-content">
    <div id="to_be_approved" class="tab-pane fade in active">
    <%=results1.length%>
    <div class="panel panel-default">
      <table class="table table-striped table-bordered"  border="1px" cellspacing="0">
        <thead>
          <tr>
            <th class="col-xs-1">No.</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-2">Location</th>
            <th class="col-md-2">Operation</th>
          </tr>
        </thead>
        <tbody>
          <% var index = 1; results1.forEach(function(rs) {%>
          <tr>
            <td class="col-xs-1"><%=index++%></td>
            <td id="id_<%=index%>" class="hidID"><%=rs._id%></td>
            <td class="col-md-1"><%=rs.type%></td>
            <td class="col-md-4"><%=rs.name%></td>
            <td class="col-md-2"><%=rs.startDate%>~<%=rs.endDate%></td>
            <td class="col-md-2"><%=rs.city%>,<%=rs.state%>,<%=rs.country%></td>
            <td class="col-md-2">
              <a href="/users/editEvent?id=<%=rs._id%>"><button class="btn btn-info">Revise</button></a>              
              <a id="delete_<%=index%>"><button class="btn btn-danger" onclick="deleteEvent(<%=index%>)">Delete</button></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    </div>
    
    <div id="approved" class="tab-pane fade">
    <%=results2.length%>
    <div class="panel panel-default">
      <table class="table table-striped table-bordered"  border="1px" cellspacing="0">
        <thead>
          <tr>
            <th class="col-md-1">No.</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-2">Location</th>
            <th class="col-md-2">Operation</th>
          </tr>
        </thead>
        <tbody>
          <% var index2 = 1; results2.forEach(function(rs) {%>
          <tr>
            <td class="col-md-1"><%=index2++%></td>
            <td id="id_<%=index%>" class="hidID"><%=rs._id%></td>
            <td class="col-md-1"><%=rs.type%></td>
            <td class="col-md-4"><%=rs.name%></td>
            <td class="col-md-2"><%=rs.startDate%>~<%=rs.endDate%></td>
            <td class="col-md-2"><%=rs.city%>,<%=rs.state%>,<%=rs.country%></td>
            <td class="col-md-2">
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    </div>
    
    <div id="ask_for_revision" class="tab-pane fade">
    <%=results3.length%>
    <div class="panel panel-default">
      <table class="table table-striped table-bordered"  border="1px" cellspacing="0">
        <thead>
          <tr>
            <th class="col-md-1">No.</th>
            <th class="col-md-1">Type</th>
            <th class="col-md-4">Name</th>
            <th class="col-md-2">Date</th>
            <th class="col-md-2">Location</th>
            <th class="col-md-2">Operation</th>
          </tr>
        </thead>
        <tbody>
          <% var index3=1; results3.forEach(function(rs) {%>
          <tr>
            <td class="col-md-1"><%=index3++%></td>
            <td id="id_<%=index%>" class="hidID"><%=rs._id%></td>
            <td class="col-md-1"><%=rs.type%></td>
            <td class="col-md-4"><%=rs.name%></td>
            <td class="col-md-2"><%=rs.startDate%>~<%=rs.endDate%></td>
            <td class="col-md-2"><%=rs.city%>,<%=rs.state%>,<%=rs.country%></td>
            <td class="col-md-2">
              <a href="/users/editEvent?id=<%=rs._id%>"><button class="btn btn-info">Revise</button></a>
              <a id="delete_<%=index%>"><button class="btn btn-danger" onclick="deleteEvent(<%=index%>)">Delete</button></a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    </div>
</div>       
<%- include('includes/footer') %>