<%- include('includes/header') %>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/search">Search</a></li>
              <li><a href="/users/addJob">Add Job</a></li>
              <li><a href="/users/addSub">Subscribe</a></li>
            </ul>
            <% if(user){ %>
            <ul class="nav navbar-nav navbar-right">
                <% if(user.priority == 2){ %>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/jobs">Manage Jobs</a><br>
                        <a href="/manage/categories">Manage Categories</a><br>
                        <a href="/manage/users">Manage Users</a><br>
                      </div>
                  </li>
                <% }else if(user.priority == 1){%>
                  <li class="dropdown"><a href="#">Manage</a>
                      <div class="dropdown-content">
                        <hr><a href="/manage/jobs">Manage Jobs</a><br>
                      </div>
                  </li>
                <% } %> 
                  <li class="dropdown"><a href="#">Welcome, <%= user.name%>!</a>
                  <div class="dropdown-content">
                    <hr><a href="/users/myJob">My Jobs</a><br>
                    <a href="/users/mySub">My Subscriptions</a><br>
                    <a href="/users/myProfile">My Profile</a><br>
                    <hr><a href="/users/logout">Log out</a><br>
                  </div>
                </li>
            </ul>
          <% }else{ %>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/users/register">Sign up</a></li>               
                <li><a href="/users/login">sign in</a></li>
            </ul>
          <% } %>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<%- messages() %>

<div class="container reg-page">
<form method = "post" action="/jobs" class="form-signin">
  <h2 class="form-signin-heading">Search</h2>
    <lable>Position Type</lable><br>
    <input type="text" name="positionType" class="form-control" value="<%= (!!locals.positionType)?positionType:'' %>">
    <br>
    <br>
    <lable>Employment Type</lable><br>
    <select class="form-control" name="employmentType">
        <option value="" selected="selected">-----ALL-----</option>
        <% results.forEach(function(result) { %>
        <option value="<%=result.employmentType%>"><%=result.employmentType%></option>
        <% }) %>
    </select>
    <br>
    <br>
    <lable>Field</lable><br>
    <input type="text" name="field" class="form-control" value="<%= (!!locals.field)?field:'' %>">
    <br>
    <br>
    <label>Deadline</label><br>
    <input type="date" name="deadline" class="form-control" value="<%= (!!locals.deadline)?deadline:'' %>">
    <br>
    <br>
    <lable>Region</lable><br>
    <select class="form-control" onchange="set_country(this,country,state, true)" name="region">
        <option value="" selected="selected">-----ALL-----</option>
        <script type="text/javascript">
            setRegions(this);
        </script>
    </select>
    <br>
    <br>
    <lable>Country</lable><br>
    <select class="form-control" name="country" disabled="disabled" onchange="set_city_state(this,state, true)">
        <option value="" selected="selected">-----ALL-----</option>
    </select>
    <br>
    <br>
    <lable>State/Province</lable><br>
    <select class="form-control" name="state" disabled="disabled" onchange="print_city_state(country,this)">
        <option value="" selected="selected">-----ALL-----</option>
    </select>
    <br>
    <br>
    <lable>Salary</lable><br>
    <input type="text" name="salary" class="form-control" value="<%= (!!locals.salary)?salary:'' %>">
    <br>
    <br>
    <lable>Keywords</lable><br>
    <input type="text" name="keywords" class="form-control" value="<%= (!!locals.keywords)?keywords:'' %>">Please use "," to separate keywords without space
    <br>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Search</button>
</form>
</div>
<%- include('includes/footer') %>